/* CSS RESET */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ol,
ul {
    list-style: none;
}

/* CSS RESET END */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.columns {
    display: flex;
}

/* Mobile first apporach */
[class*="col-"] {
    width: 100%;
    padding: 5px;
}

.col-1 {
    background-color: #00FF00;
}

.col-2 {
    color: #fff;
    background-color: #E496D2;
}

.col-3 {
    background-color: lightgray;
    margin-top: 8px;
}

.col-3 p {
    padding: 8px 0;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .columns {
        flex-wrap: wrap;
    }
}

/* For desktop: */
@media only screen and (min-width: 768px) {

    .col-1 {
        width: 50%;
    }

    .col-2 {
        width: 50%;
    }
}

form ul {
    padding: inherit;
}

.wrapper:first-of-type {
    display: inline-block;
}

.wrapper:last-of-type {
    display: inline;
}